@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using MedicalEquipment.Web.Models.ViewModels;
@inject IViewLocalizer Localizer

@model dynamic;
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="hm-service" class="layer-stretch">
    <div class="layer-wrapper">
        <div class="layer-ttl">
            <h3>@Model.Service.Tittle</h3>
        </div>
        <div class="layer-container row">
            <div class="hm-service-left col-md-5">
                <img src="uploads/hm-service.jpg" alt="Klinical Health care">
            </div>
            <div class="hm-service-right col-md-7">
                <p class="paragraph-medium paragraph-black">Klinik is a HTML5 &#38; CSS3 responsive template created for clinic and hospital but also can be used for generalised website. It is a fully responsive, feature rich and beautifully designed to host a website or create online identity. We have created 55+ pages and 200+ components for this template and much more in future.</p>
                <div class="hm-service">
                    <div class="hm-service-block">
                        <i class="fa fa-stethoscope"></i>
                        <span>Cardiovascular centre</span>
                    </div>
                    <div class="hm-service-block">
                        <i class="fa fa-child"></i>
                        <span>Childbirth Center</span>
                    </div>
                    @foreach (var item in Model.ServicesTypes)
                    {
                        <div class="hm-service-block">
                            <i class="fa fa-certificate"></i>
                            <span>@item.Tittle</span>
                        </div>
                    }

                    <div class="hm-service-block">
                        <i class="fa fa-h-square"></i>
                        <span>Dermatologist</span>
                    </div>
                    <div class="hm-service-block">
                        <i class="fa fa-stethoscope"></i>
                        <span>Paediatrics</span>
                    </div>
                    <div class="hm-service-block">
                        <i class="fa fa-bullhorn"></i>
                        <span>Radiology Center</span>
                    </div>
                </div>
                <div class="hm-service-view text-center">
                    <a href="#" class="button-icon">
                        <span>View All Services</span>
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Service Section -->
<!-- Start About Section -->
<div id="hm-about" class="parallax-background parallax-background-1">
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="layer-ttl layer-ttl-white">
                <h3>بب</h3>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-user-md"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">54</span>
                            <p>Doctor(s)</p>
                        </div>
                    </div>
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-ambulance"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">130</span>
                            <p>Room(s)</p>
                        </div>
                    </div>
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-calendar"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">51</span>
                            <p>Year of Experience(s)</p>
                        </div>
                    </div>
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-clock-o"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">168</span>
                            <p>Opening Hours per Week</p>
                        </div>
                    </div>
                    <div class="hm-about-paragraph">
                        <p class="paragraph-medium paragraph-white">
                            <span class="theme-dropcap color-white">K</span>Reque errem oblique sed et, an fugit omnes impetus qui. Mea et ludus choro, wisi mnesarchum no vim, no aliquip laoreet his. Mutat sapientem similique usu ex, novum docendi inimicus at vis, te sit persecuti philosophia delicatissimi. Mei civibus eloquentiam cu. Unum invidunt adipiscing sea et, corrumpit torquatos pri cu. Malis nihil menandri ea vel, stet possit usu cu. Nec autem graeco ea, ne ferri reque est.No est liber eloquentiam, mei an adhuc dicunt meliore. Purto volutpat vix ut, qui ad sint utinam nominavi. Ea option recusabo eos, no est vide eleifend gloriatur. Atqui timeam omnesque nec te.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail" src="uploads/hm-about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div><!-- End About Section -->
<!-- Start Feature Section -->
<!-- End Feature Section -->
<!-- Start Doctor Section -->
<!--<div class="parallax-background parallax-background-2">
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="layer-ttl layer-ttl-white">
                <h3>Our Team</h3>
            </div>
            <div class="layer-container">
                <div id="hm-doctor-slider" class="owl-carousel owl-theme theme-owl-dot">
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-1.jpg" alt="">
                        <h6>Dr. Daniel Barnes</h6>
                        <p>Orthologist</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-2.jpg" alt="">
                        <h6>Dr. Melisa bates</h6>
                        <p>Gynocologist</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-3.jpg" alt="">
                        <h6>Dr. Cheri Aria</h6>
                        <p>Dermatologist</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-4.jpg" alt="">
                        <h6>Steve Soeren</h6>
                        <p>Orthologist</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-5.jpg" alt="">
                        <h6>Barbara Baker</h6>
                        <p>Surgeon</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-6.jpg" alt="">
                        <h6>Linda Adams</h6>
                        <p>Gynocologist</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-7.jpg" alt="">
                        <h6>Emily Rasberry</h6>
                        <p>Pathologist</p>
                    </div>
                    <div class="hm-doctor">
                        <img class="img-responsive" src="uploads/slide-doctor-8.jpg" alt="">
                        <h6>Nancy Allen</h6>
                        <p>Gynocologist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> End Doctor Section -->
<!-- Start Blog Section -->
<div id="hm-blog" class="layer-stretch">
    <div class="layer-wrapper layer-bottom-10 text-center">
        <div class="layer-ttl">
            <h3 style="display: block">کالاها</h3>



            @foreach (var item in Model.Products)
            {
                <div id="container" data-aos="fade-left" data-aos-anchor-placement="top-center">

                    <!-- Start	Product details -->
                    <div class="product-details">

                        <!-- 	Product Name -->
                        <h1>@item.ProductName</h1>
                        <!-- 		<span class="hint new">New</span> -->
                        <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
                        <!-- 		the Product rating -->
                        <span class="hint-star star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>


                        <!-- The most important information about the product -->
                        <p class="information"> @item.Description </p>



                        <!-- 		Control -->
                        <div class="control">

                            <!-- Start Button buying -->
                            <button class="btn">
                                <!-- 		the Price -->
                                <span class="price">@item.Price</span>
                                <!-- 		shopping cart icon-->
                                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                                <!-- 		Buy Now / ADD to Cart-->
                                <span class="buy">Buy Now</span>
                            </button>
                            <!-- End Button buying -->

                        </div>

                    </div>

                    <!-- 	End	Product details   -->
                    <!-- 	Start product image & Information -->

                    <div class="product-image">

                        <img src="~/ProductImages/@item.ImageName" alt="Omar Dsoky">

                        <!-- 	product Information-->
                        <div class="info">
                            <h2>The Description</h2>
                            <ul>
                                <li><strong>Sun Needs: </strong>Full Sun</li>
                                <li><strong>Soil Needs: </strong>Damp</li>
                                <li><strong>Zones: </strong>9 - 11</li>
                                <li><strong>Height: </strong>2 - 3 feet</li>
                                <li><strong>Blooms in: </strong>Mid‑Summer - Mid‑Fall</li>
                                <li><strong>Features: </strong>Tolerates heat</li>
                            </ul>
                        </div>
                    </div>
                    <!--  End product image  -->


                </div>

            }





        </div>
        <div class="row">

        </div>
    </div>
</div><!-- End Blog Section -->
<!-- Start Testimonial Section -->
<div id="testimonial" class="parallax-background parallax-background-3">
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="layer-ttl layer-ttl-white">
                <h3>What People Say</h3>
            </div>
            <div class="layer-container">
                <div id="testimonial-slider" class="owl-carousel owl-theme theme-owl-dot">
                    <div class="testimonial-block">
                        <img class="img-responsive" src="uploads/testimonial-1.jpg" alt="">
                        <div class="paragraph-medium paragraph-white">
                            <i class="fa fa-quote-left"></i>
                            Thank you for the remedy. I feel it has been working on a deeper subtle level. An inner seeing. I have had the feeling of a melting inside and great sense of peace and rightness. I experienced this before with your perception and treatment so thank you very much.
                        </div>
                        <a>Reuben Snow</a>
                    </div>
                    <div class="testimonial-block">
                        <img class="img-responsive" src="uploads/testimonial-2.jpg" alt="">
                        <div class="paragraph-medium paragraph-white">
                            <i class="fa fa-quote-left"></i>
                            This was my second visit here I loved it first visit but love it more on my second visit. I loved thier facility and online system. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam veniam sit nemo eveniet recusandae nihil nesciunt rerum alias.
                        </div>
                        <a>Julien Cain</a>
                    </div>
                    <div class="testimonial-block">
                        <img class="img-responsive" src="uploads/testimonial-3.jpg" alt="">
                        <div class="paragraph-medium paragraph-white">
                            <i class="fa fa-quote-left"></i>
                            Thank you for the remedy. I feel it has been working on a deeper subtle level. An inner seeing. I have had the feeling of a melting inside and great sense of peace and rightness. I experienced this before with your perception and treatment so thank you very much.
                        </div>
                        <a>Naum Gabo</a>
                    </div>
                    <div class="testimonial-block">
                        <img class="img-responsive" src="uploads/testimonial-4.jpg" alt="">
                        <div class="paragraph-medium paragraph-white">
                            <i class="fa fa-quote-left"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias corporis ad veniam, illo expedita aut quaerat voluptatem, magni voluptas necessitatibus omnis error quia deserunt asperiores beatae fugiat quisquam magnam mollitia!
                        </div>
                        <a>Winceton Logo</a>
                    </div>
                    <div class="testimonial-block">
                        <img class="img-responsive" src="uploads/testimonial-5.jpg" alt="">
                        <div class="paragraph-medium paragraph-white">
                            <i class="fa fa-quote-left"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias corporis ad veniam, illo expedita aut quaerat voluptatem, magni voluptas necessitatibus omnis error quia deserunt asperiores beatae fugiat quisquam magnam mollitia!
                        </div>
                        <a>Robert Bratheon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Testimonial Section -->
<!-- Start Emergency Section -->
<div id="emergency">
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="layer-ttl">
                <h3>@Localizer["Contact"]</h3>
            </div>
            <div class="layer-container">
                <div class="paragraph-medium paragraph-black">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.
                </div>@Model.Contacts.Phone

            </div>
        </div>
    </div>
</div><!-- End Emergency Section -->

<section class='testimonials_part'>
    <div class='container'>
        <div class='inner'>
            <div class='title_style7'>
                <h1 class='title'>درباره ما</h1>
                <span class='line'></span>
            </div>
            <!--title_style7-->
            <div class='testimonials owl-carousel'>
                <div class='item clearfix'>
                    <div class='testimonial'>
                        <p class='paragraph'>درباره ما
                        
                        </p>
                       
                    </div>
                </div>
                <!--testimonials-->
            </div>
            <!--inner-->
        </div>
        <!--container-->
    </div>

</section>


<div class="owl-carousel owl-theme py-5 ">
    @*<div class="item border">
            <a href="" target="_blank">
                <img class="rounded shadow p-3 mb-5 bg-white" src="~/images/01.jpg" />
            </a>
            <p class="text-center font-weight-bold">محصولات ویژه</p>
        </div>*@
    @*<div class="item border border-dar">
            <a href="" target="_blank">
                <img class="rounded shadow p-3 mb-5 bg-white" src="~/images/01.jpg" />
            </a>
            <p class="text-center font-weight-bold">محصولات ویژه</p>
        </div>*@

    @foreach (var item in Model.SpProduct)
    {
        <div class="item border border-dar">
            <a href="" target="_blank">
                <img class="rounded shadow p-3 mb-5 bg-white" src="~/ProductImages/@item.ImageName" />
            </a>
            <p class="text-center font-weight-bold">@item.ProductName</p>
        </div>
    }


</div>

<!-- Start Make an Appointment Modal -->
<div id="appointment" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Make An Appointment</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="appointment-error"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-user-o"></i>
                            <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z, ]*" id="appointment-name">
                            <label class="mdl-textfield__label" for="appointment-name">Name</label>
                            <span class="mdl-textfield__error">Please Enter Valid Name!</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-envelope-o"></i>
                            @*<input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="appointment-email">*@
                            <label class="mdl-textfield__label" for="appointment-email">Email</label>
                            <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-phone"></i>
                            <input class="mdl-textfield__input" type="text" pattern="[0-9]*" id="appointment-mobile">
                            <label class="mdl-textfield__label" for="appointment-mobile">Mobile Number</label>
                            <span class="mdl-textfield__error">Please Enter Valid Mobile Number!</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label form-input-icon">
                            <i class="fa fa-hospital-o"></i>
                            <select class="mdl-selectfield__select" id="appointment-department">
                                <option value="">&nbsp;</option>
                                <option value="1">Gynaecology</option>
                                <option value="2">Orthology</option>
                                <option value="3">Dermatologist</option>
                                <option value="4">Anaesthesia</option>
                                <option value="5">Ayurvedic</option>
                            </select>
                            <label class="mdl-selectfield__label" for="appointment-department">Choose Department</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label form-input-icon">
                            <i class="fa fa-user-md"></i>
                            <select class="mdl-selectfield__select" id="appointment-doctor">
                                <option value="">&nbsp;</option>
                                <option value="1">Dr. Daniel Barnes</option>
                                <option value="2">Dr. Steve Soeren</option>
                                <option value="3">Dr. Barbara Baker</option>
                                <option value="4">Dr. Melissa Bates</option>
                                <option value="5">Dr. Linda Adams</option>
                            </select>
                            <label class="mdl-selectfield__label" for="appointment-doctor">Choose Doctor</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-calendar-o"></i>
                            <input class="mdl-textfield__input" type="text" id="appointment-date" onfocus="(this.type='date')" onblur="(this.type='text')">
                            <label class="mdl-textfield__label" for="appointment-date">Date</label>
                            <span class="mdl-textfield__error">Please Enter Valid Date Number!</span>
                        </div>
                    </div>
                </div>
                <div class="text-center pt-4">
                    <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect mdl-button--raised button button-primary button-lg make-appointment">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Make an Appointment Modal -->
<!-- Start Login Modal -->
<div id="loginpopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Login Now</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    @*<input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="loginpopup-email">*@
                    <label class="mdl-textfield__label" for="loginpopup-email">Email <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    <input class="mdl-textfield__input" type="password" id="loginpopup-password">
                    <label class="mdl-textfield__label" for="loginpopup-password">Password <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Password!</span>
                    <div class="forgot-pass">Forgot Password?</div>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon form-bot-check">
                    <i class="fa fa-question"></i>
                    <input class="mdl-textfield__input" type="number" id="loginpopup-bot">
                    <label class="mdl-textfield__label" for="loginpopup-bot">What is 7 plus 1 = <em>* </em></label>
                    <span class="mdl-textfield__error">Please Enter Correct Value!</span>
                </div>
                <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Login Now</button>
                </div>
                <div class="or-using">Or Using</div>
                <div class="social-login">
                    <a href="#" class="social-facebook"><i class="fa fa-facebook"></i>Facebook</a>
                    <a href="#" class="social-google"><i class="fa fa-google"></i>Google</a>
                </div>
                <div class="login-link">
                    <span class="paragraph-small">Don't have an account?</span>
                    <a href="#" class="">Register as New User</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Login Modal -->
<!-- Start Register Modal -->
<div id="registerpopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Register as New User</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z, ]*" id="registerpopup-name">
                    <label class="mdl-textfield__label" for="registerpopup-name">Name <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Name!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    @*<input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="registerpopup-email">*@
                    <label class="mdl-textfield__label" for="registerpopup-email">Email <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    <input class="mdl-textfield__input" type="password" id="registerpopup-password">
                    <label class="mdl-textfield__label" for="registerpopup-password">Password <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Password(Min 6 Character)!</span>
                </div>
                <div class="login-condition">By clicking Creat Account you agree to our <a href="#">terms &#38; condition</a></div>
                <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Create Account</button>
                </div>
                <div class="or-using">Or Using</div>
                <div class="social-login">
                    <a href="#" class="social-facebook"><i class="fa fa-facebook"></i>Facebook</a>
                    <a href="#" class="social-google"><i class="fa fa-google"></i>Google</a>
                </div>
                <div class="login-link">
                    <span class="paragraph-small">Already have an account?</span>
                    <a href="#" class="">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Register Modal -->
<!-- Fixed Appointment Button at Bottom -->
<div id="appointment-button" class="animated fadeInUp">
    <button id="appointment-now" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--raised"><i class="fa fa-plus"></i></button>
    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="appointment-now">Make An Appointment</div>
</div><!-- End Fixed Appointment Button at Bottom -->